
.title {
  word-wrap: break-word;
  font: 500 36px/40px dsHeading,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  -webkit-font-variant-ligatures: no-contextual;
  font-variant-ligatures: no-contextual;
  letter-spacing: 0;
}
